<div class="clear"></div>
<div id="main_content">

  <div class="left_content">
    <h1>About Us</h1>
    <%= image_tag "icon_team.gif", alt: "", title: "", class: "left_img" %>
    <p class="about" align="justify">

      Techsplace is team of dedicated professionals experienced in the web space. We share the energy and enthusiasm towards shaping up the web image, be they individuals or corporate, small businesses or large enterprises. You can reinforce yourself through us and leverage our strengths in latest web 2.0 tools and technologies. From graphics to web design, web development to rich application development, product idea to implementation, component development to solution consulting, get the skills you want from our family of passionate engineers. We use latest web standards and educate our clients simultaneously. We give our best to make you look best on the web. <br />
    </p>
    <div class="clear"></div>
    <h1>What we do?</h1>
    <%= image_tag "icon_world.gif", alt: "", title: "", class: "left_img" %>
    <p class="about" align="justify">

      Rapid development and reduced time to market are primary goals for our client projects. We work with start-ups, product companies and agencies to develop web based applications. Our teams are set up to iterate quickly so we can push our client's products to market as soon as possible.<br/><br/>
      Unlike companies which provide "virtual teams" with little or no management, we have developed a team structure and process to ensure there is oversight and quality control on projects. Even if we assign one developer to your project, there is a Mentor and Engineering Director overseeing the work of the developer and measuring key metrics to ensure that the code we deliver adheres to the quality metrics we have defined. To learn more about the metrics we use and our process, please contact us for the white-paper. <br />
    </p>

  </div><!-- end of left content-->
</div>
