p {
	line-height: 1.9em;
	margin-bottom: 20px;
	font-size: 12px;
}
a {
	color: #F97B27;
}
a:hover {
	color: #E5620A;
}
a:focus {
	outline: none;
}
 
span.required {
	color: #ff0000;
}
h2 {
	color: #000;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, Sans-Serif;
	font-size: 30px;
	letter-spacing: -0.25px;
	font-weight: bold;
	padding: 0 0 5px;
	margin: 0;
}
/*** ESSENTIAL STYLES ***/
 
div#jFlowSlide {
	margin:0 auto;
}
div#slides-static {
	 
	width: 850px;
}
div.slides-container {
	overflow: hidden;
	width: 100%;
	 
	 
}
.centerButton {
	float:left;
}
.centerButton img {
	float:left;
	margin-left:15px !important;
	margin-top:20px !important;
}
.centerP {
	width:400px;
	float:right;
	margin:-210px 0 0 470px;
}
div.slides-container div#jFlowSlide {
	height:300px;
	 
}
div.slides-container div.jFlowSlideContainer img {
	margin:auto;
}
.jFlowSlideContainer {
	margin:20px 0 0 0;
	 
	 
}
div.slides-container div.jFlowSlideContainer div {
}
div.slides-container div.jFlowSlideContainer div.slide-image {
	float:left;
	width: 400px;
	margin:0px 0 0 15px;
	 
}
span.jFlowPrev, span.jFlowNext {
	background-image:url('slide-prev.gif');
	background-repeat:no-repeat;
	display:block;
	height:41px;
	width:24px;
	float:left;
	margin:0;
	cursor:pointer;
}
span.jFlowPrev span, span.jFlowNext span {
	display:none;
}
span.jFlowNext {
	background-image:url('slide-next.gif');
	float:right;
}
div.slides-container div.controls {
	position:relative;
	top:-150px;
	width:960px;
	margin:0 auto;
}
div.slides-container p {
	padding-top: 10px;
	color: #eee;
}
div.slides-container a {
	color: #eee;
}
div.slides-container h2, div#sub-header h2 {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, Sans-Serif;
	color: #fff;
	text-shadow: 1px 1px #21441D;
	font-weight: normal;
}
div.slide-text {
	margin:20px 0 0 60px;
	width:400px;
	float:left;
	padding-top: 10px;
}
p.frontpage-button a {
	padding: 17px 20px;
	margin:0 0 0 60px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow:-1px -1px #CE5709;
	background: #F87B27 url('frontpage-link.png') repeat-x scroll top left;
	border:1px solid #F87B27;
}
p.frontpage-button a:hover {
	background: #E5620A none;
	color: #fff;
}
.hidden {
	display:none;
}
div#sub-header {
	height: 101px;
}
div#sub-header h2 {
	padding-top: 27px;
}
.clear {
	clear: both;
}
